@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #222;
}

header {
	font-size: 2em;
	color: #eee;
	background-color: green;
	text-shadow: 2px 2px 4px #0D3A55;
	padding: 1% 4%;
	cursor: default;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 2em;
}

section img {
	display: block;
	margin: 3em auto;
	width: 85%;
	max-width: 550px;
	box-shadow: 1em 1em 1.5em #888;	
}

a {
	color: #CDF9D8;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	font-size: 1.4em;
}

nav {
	width: 100%;
	margin: 0 auto;
	background-color: #154214;
}
nav ul{
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 1em 1em;
	background-color: #154214;
	height: 20px;
}

nav ul li a:hover {
	color: #BFFF00;
	text-decoration: none;
	text-shadow: 0 0 0.4em #F7FE2E;
}

p {
	font-size: 1em;
}

section {
	/*font-family: 'Open Sans';*/
	padding: 5%;
	width: 58%;
	float: left;
}

section p {
	line-height: 1.5em;
	text-align: justify;
}

section .par_color#mi_par {
	color: brown;
}

aside {
	width: 27%;
	background-color: #F5FFEA;
	float: right;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 4% 3% 3% 1%;
	text-align: center;
	border: 1px solid #C7E1C1;
    border-radius: 8px;
	cursor: default;
}

aside .par_color {
	color: #006D07;
}

footer {
	clear: both;
	width: 98%;
	padding: 1%;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	color: #fff;
	background-color: green;
	font-size: 1em;
	cursor: default;
}

form {
	margin-bottom: 5%;
}

form label {
	font-size: 0.8em;
	font-weight: bold;
}

form input, textarea {
	margin: 0.7em 0 0.7em 0;
	padding: 0.4em;
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: 0 0 0.3em #ccc;
}

form #boton_enviar {
	opacity: 1;
	padding: 0.6em 1em 0.6em 1em;
	box-shadow: 0 0 0.1em #eee;
}

form #boton_enviar:hover {
	opacity: 0.7;
	cursor: pointer;
}

.requerido {
	color: #B94A48;
	font-weight: bold;
}
