/*
  Ejercicio 02 (E02) - Javier Ortega Fernández.
  - Hoja de estilo validada en CSS 3 -
*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #111;
  background-color: #2766ad;
  background-image: url('../images/body_background.jpg');
  background-repeat: repeat-x;
}

h1 {
  font-size: 24px;
  font-weight: 300;
}

h2 {
  font-size: 17px;
  color: #225799;
  font-weight: 300;
}

p {
  line-height: 1.7em;
}

#contenido {
  display: block;
  margin: 2% auto;	
  width: 70%;
  min-width: 780px;
  background-color: #fff;
}

header {
  padding: 2%;
  padding-bottom: 1%;
  font-size: 1em;
  color: #225799;
}

header table {
  font-size: 1.7em;
  color: #225799;
}

header table td {
  padding-right: 0.7em;
  vertical-align: middle;
}

header table caption{
  display: none;
}

section {
  padding: 1% 2% 3% 3%;
  width: 62%;
  float: left;
}

aside {
  width: 27%;
  float: right;
  margin-top: 3%;
  margin-right: 6%;
  text-align: left;
  border: 0px solid #fff;
  font-size: 12px;
}

.textoaside {
  background-color: #feffd5;
  margin-bottom: 10%;
  padding: 3% 9% 3% 9%;
  width: 94%;
  border: 1px solid #ffeb70;
  line-height: 1em;
  text-align: justify;
}

nav ul li a {
  color: #225799;
  text-decoration: none;
}

a {
  color: #4b6c9f;
  text-decoration: none;
}

a:hover {
  color: #3c8dcb;
  text-decoration: none;
}

nav {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2%;
  padding: 0;
  border-top: 1px solid #dadada;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0.8em 0.5em;
}

footer {
  clear: both;
  width: 98%;
  height: 3.8em;
  padding-left: 2%;
  text-align: left;
  vertical-align: middle;
  color: #000;
  background-color: #dadada;
  font-size: 0.83em;
  border-top: 2px solid #2765af;
}

footer a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

footer a:hover{
  color: #555;
  font-weight: bold;
  text-decoration: underline;
}

span#Design {
  float: right;
  padding-right: 2%;
}

#navfooter a {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

#ImagenCabecera {
  display: block;
  margin: 0 auto;
  width: 93%;
  border: 10px solid #dadada;
}
